@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:wght@400;700&display=swap');

$header-font: 'Oleo Script Swash Caps', cursive;
$primary-font: 'Roboto', sans-serif;

$background-color: #f0f0f0;
$border-color: #dfdfdf;
$shadow-color: #c7c7c7;
