@import 'reset';
@import 'variables';
@import 'animations';

body {
  font-size: 16px;
  background-color: $background-color;
  font-family: $primary-font;
  margin-left: calc(100vw - 100%);
}

// Header

header {
  font-family: $header-font;
  color: $white;
  margin-top: 10vh;
  margin-bottom: 1rem;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    display: inline-block;
  }

  h3::before {
    content: "⎯⎯⎯⎯⎯⎯⎯⎯";
    margin-right: 0.5rem;
  }

  h3::after {
    content: "⎯⎯⎯⎯⎯⎯⎯⎯";
    margin-left: 0.5rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1rem;
  }

  img.star {
    width: 2rem;
    height: 2rem;
    position: absolute;
  }
  
  #star-3 {
    left: -2.5rem;
    top: -50%;
    animation: glitter 4s ease-in-out 0s infinite ;
  }

  #star-1 {
    right: -3.5rem;
    top: 0%;
    animation: glitter 3.6s ease-in 0s infinite normal;
  }

  #star-2 {
    right: -2.5rem;
    top: 50%;
    animation: glitter 3.8s ease-out 0s infinite normal;
  }
}

main {

  // Flex Grid Layout

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  width: 80vw;
  margin: 0 auto;

  .search {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
  
  .banner {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  
  .results {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  .nominations {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .box {
    padding: 1rem;
    margin: 0.5rem;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px $shadow-color;
  }

  // Text

  h2 {
    font-weight: bold;
    margin: 0.5rem 0;
  }

  p {
    margin: 1rem 0;
  }
  
  ul {
    margin: 1rem;
    list-style: '📽' outside;
  }
  
  li {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  // Search Bar 

  input {
    padding: 0.5rem;
    padding-left: 2rem;
    width: 100%;
    border: 1px solid $border-color;
    font-size: 1rem;
    color: gray;
    background-image: url('../assets/search.png');
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    outline: 0;
    border-radius: 1rem;
  }

  // Buttons

  button {
    font-size: 0.8rem;
    border: 1px solid $border-color;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $hover-color;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $shadow-color;
    }
  }

  // Banners

  .banner {
    background-color: $success-bg-color;
    color: $success-font-color;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $success-border-color;
  }

  // Loading Spinner

  .loading {
    position: relative;
    margin: 0 1rem;

    img {
      height: 4rem;
      width: auto;
    }

    #spinner {
      animation: spin 2s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}