@import 'reset';
@import 'variables';

body {
  font-size: 16px;
  // background: #000;
  font-family: $primary-font;
  margin-left: calc(100vw - 100%);

  #carpet {
    // background-color: #ff0000;
    border-bottom: 100px solid #ff0000;
    border-left: 50px solid green;
    border-right: 50px solid blue;
    height: 0;
    width: 100px;
  }
}

header {
  font-family: $header-font;
  margin-top: 10vh;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
}


main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  width: 80vw;
  margin: 0 auto;

  .search {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
  }
  
  .banner {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  
  .results {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  
  .nominations {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .box {
    padding: 1rem;
    margin: 0.5rem;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px $shadow-color;
  }

  h2 {
    font-weight: bold;
    margin: 0.5rem 0;
  }

  p {
    margin: 1rem 0;
  }
  
  ul {
    margin: 1rem;
    list-style: '📽' outside;
  }
  
  li {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
  }
}

input {
  padding: 0.5rem;
  padding-left: 2rem;
  width: 100%;
  border: 1px solid $border-color;
  font-size: 1rem;
  color: gray;
  background-image: url('../assets/search.png');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
  outline: 0;
  border-radius: 1rem;
}

button {
  font-size: 0.8rem;
  border: 1px solid $border-color;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: #dfdfdf;
}

button:disabled {
  cursor: not-allowed;
  background-color: $shadow-color;
}